@page
@model RazorProject.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Dodaj tutaj swój produkt";
}

<h1><a asp-page="Index">Open all Products</a></h1>

<h4>Add product to Web</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Photos" class="control-label"></label>
                <input asp-for="Product.Photos" class="form-control" />
                <span asp-validation-for="Product.Photos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Open all Products</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
